.offcanvas{
  padding: 64px 24px 0 24px;
  border-radius: 16px 16px 0px 16px;
}
.offcanvas-header {
  border-bottom: 1px solid rgba(204, 204, 204, 0.181);
}
.payment-type{
  color: #ABBBC2;
  font-weight: 700;
}