.navbar{
  width: 104px;
  min-height: 100vh;
  background-color: #1f1d2b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 0 16px 16px 0;
  padding-top: 24px;
}

.navbar__icon{
  color: #EA7C69;
  padding: 18px;
  font-size: 17px;
}

.active .navbar__icon{
  color: #fff;
}

.navbar__item{
  padding: 10px 25px; 
  border-radius: 12px 0 0px 12px;
  margin-bottom: 10px;
  position: relative;
  left: 2px;
}
.navbar__link{
  position: relative;
  left: -2px;
}
.active .navbar__item{
  background-color: #252836;
}

.active .navbar__link{
  background: #EA7C69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  border-radius: 8px;
}
.navbar__list{
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
